<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
		<string>ca-app-pub-3940256099942544/2934735716</string>
		<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
		<string>ca-app-pub-3940256099942544/4411468910</string>
		<key>CLIENT_ID</key>
		<string>1029110279794-ji6o3lvhc6sa2c4bfcn4sthhdaii2ull.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.1029110279794-ji6o3lvhc6sa2c4bfcn4sthhdaii2ull</string>
		<key>API_KEY</key>
		<string>AIzaSyDTDLXJPCej7eG_L2dabejNI5WMBDae8E0</string>
		<key>GCM_SENDER_ID</key>
		<string>1029110279794</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.hirequick.staffing</string>
		<key>PROJECT_ID</key>
		<string>hirequick-3a92b</string>
		<key>STORAGE_BUCKET</key>
		<string>hirequick-3a92b.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<true></true>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<false></false>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:1029110279794:ios:dda7ca9b409270e5</string>
		<key>DATABASE_URL</key>
		<string>https://hirequick-3a92b.firebaseio.com</string>
	</dict>
</plist>