<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>304930266786-dramt6umr41qbblme47haelh8bnaun3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304930266786-dramt6umr41qbblme47haelh8bnaun3b</string>
	<key>API_KEY</key>
	<string>AIzaSyDmzju3vGAH8XQsYYBk0RbXDI6HavUxxVs</string>
	<key>GCM_SENDER_ID</key>
	<string>304930266786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hirequick.staffing</string>
	<key>PROJECT_ID</key>
	<string>hirequick-1538313034519</string>
	<key>STORAGE_BUCKET</key>
	<string>hirequick-1538313034519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304930266786:ios:dda7ca9b409270e5</string>
	<key>DATABASE_URL</key>
	<string>https://hirequick-1538313034519.firebaseio.com</string>
</dict>
</plist>