<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>411406804353-c9vnhao4j14ain2tltl5hf1qonndoeqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411406804353-c9vnhao4j14ain2tltl5hf1qonndoeqr</string>
	<key>API_KEY</key>
	<string>AIzaSyAkWR4IUB8j2_lXegnUDJVvjbeNn8Btoks</string>
	<key>GCM_SENDER_ID</key>
	<string>411406804353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.jogboms.tailormade</string>
	<key>PROJECT_ID</key>
	<string>tailor-made-2018</string>
	<key>STORAGE_BUCKET</key>
	<string>tailor-made-2018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411406804353:ios:bb6c31c0382b00e8</string>
	<key>DATABASE_URL</key>
	<string>https://tailor-made-2018.firebaseio.com</string>
</dict>
</plist>